fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings

sqlalchemy
python-jose[cryptography]
passlib[bcrypt]

python-magic-bin
python-dotenv

openai
anthropic

numpy
pandas
scipy
matplotlib
seaborn

openai-whisper

librosa
soundfile